body {
    background-color: #f8f9fa;
    padding-top: 40px;
}
.form-container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 25%; /* Augmentation de l'espace en bas */
}
.header {
    margin-top: 3.5%; /* Ajout d'une marge supérieure personnalisée */
}