.header-container {
    background-color: #534e4e;
    color: #fff;
    padding: 1.5%;
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px; /* Ajout de la marge à droite */
}

.header-title {
    margin: 0;
    font-size: 24px;
}

.header-buttons {
    display: flex;
    align-items: center;
}

.connexion-button,
.favoris-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0 5px;
}

.logo_menu {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul li:hover > .sous-menu {
    display: block;
}

nav ul .sous-menu {
    display: none;
    position: absolute;
    background-color: #534e4e;
}

nav ul .sous-menu li {
    display: block;
}

nav ul .sous-menu li a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

nav ul .sous-menu li:hover {
    background-color: #463e3e;
}
