.footer {
    background-color: #534e4e;
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .fixed-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }