<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Séminaires</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
</head>
<body>
    <header>
        <div class="header-container d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
                <!-- Logo -->
                <img src="assets/img/logo2.png" alt="Logo" width="100">
                <!-- Menu -->
                <nav>
                    <ul>
                        <li class="menu-deroulant">
                            <a href="#"><img src="assets/img/menu4.png" alt="Menu" width="75"></a>
                            <ul class="sous-menu">
                                <li><a href="">Accueil</a></li>
                                <li><a href="creation">Création</a></li>
                                <li><a href="propos">À propos</a></li>
                                <li><a href="contact">Contactez-nous</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Bouton de connexion -->
            <div class="header-buttons">
                <button class="connexion-button">
                    <a href="login">
                        <img src="assets/img/connexion.png" alt="Connexion" width="75" href="login">
                    </a>
                </button>
            </div>
        </div>
        <button (click)="onAddNewUtilisateur()">+</button>
    </header>
    


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
