/* Personnalisation supplémentaire */
.container {
    margin-top: 50px;
  }

.header {
    margin-top: 5%; /* Ajout d'une marge supérieure personnalisée */
}

.footer {
  margin-bottom: 5%; /* Ajout d'une marge supérieure personnalisée */
}